body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    padding: 20px;
    color: white; 
}
.news-ticker {
    position: relative; 
    background-color: #333; 
    color: #fff; 
    padding: 10px 0;
    overflow: hidden; 
    white-space: nowrap; 
}
.services-heading {
    font-size: 36px; 
    font-weight: bold;
    color: #fff;
    text-align: center; 
    margin: 40px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.headline {
    display: inline-block; 
    animation: ticker 10s linear infinite; 
    font-size: 24px;
}


@keyframes ticker {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}


.news-heading {
    font-size: 36px; 
    font-weight: bold;
    color: #fff; 
    text-align: center; 
    margin: 40px 0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.news-container {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    color: white;
    border: 4px solid #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    z-index: 1;
}

.news-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('background-news.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px); 
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
    border-radius: 8px;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
h1 {
    color: #fffafa;
}
.date, .location {
    color: #777;
}
p {
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    justify-content: space-between; 
    position: relative;
}

.header-title-container {
    flex-grow: 1; 
}
footer {
    width: 100%; 
    text-align: center; 
    padding: 15px 0; 
    background-color: #333;
    color: #fff; 
    position: absolute; 
    bottom: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0; 
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: blueviolet;
    background-color: transparent;
}

h1, h2, h4 {
    margin-bottom: 10px;
}

.about-section {
    border: 2px solid #007bff; 
    padding: 15px; 
    margin: 20px; 
    border-radius: 8px; 
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.contact-form {
    color: white;
    width: 100%;
    max-width: 320px; 
    padding: 15px; 
    background: linear-gradient(145deg, #4caf50, #388e3c);
    border-radius: 15px; 
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    animation: slideIn 1s ease-out;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-form label {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 8px 12px; 
    border-radius: 5px; 
    display: block;
    margin-bottom: 8px; 
    font-weight: bold;
    font-size: 13px; 
}

.contact-form input,
.contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px; 
    margin-bottom: 10px; 
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    color: white;
    font-size: 14px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 8px;
}



.contact-form:hover {
    transform: translateY(-5px);
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.4);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 100px; 
    width: calc(100% - 20%);

}

.contact-form button {
    display: block;
    margin: 0 auto;
    background: linear-gradient(145deg, #ffffff, #eeeeee);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #4caf50;
    padding: 8px 15px; 
    font-size: 15px; 
    color: #388e3c;
    font-weight: bold;
    border-radius: 20px; 
    cursor: pointer;
    transition: all 0.3s;
}

.contact-form button:hover {
    background-color: #4caf50;
    color: red;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.contact-form button:focus {
    border: 2px solid #ffcc00;
    box-shadow: 0 10px 30px rgba(255, 255, 0, 0.5);
}



.complaint-form-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.complaint-form {
    align-items: center;
    color: white;
    width: 100%;
    max-width: 320px;
    padding: 15px;
    background: linear-gradient(145deg, #ff5722, #e64a19); 
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    animation: slideIn 1s ease-out;
    transition: transform 0.3s, box-shadow 0.3s;
}

.complaint-form label {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 13px;
}

.complaint-form input,
.complaint-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.complaint-form input:focus,
.complaint-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 8px;
}

.complaint-form:hover {
    transform: translateY(-5px);
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.4);
}

.complaint-form input::placeholder,
.complaint-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
}

.complaint-form button {
    display: block;
    margin: 0 auto;
    background: linear-gradient(145deg, #ffffff, #eeeeee);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #ff5722; 
    padding: 8px 15px;
    font-size: 15px;
    color: #e64a19;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.complaint-form button:hover {
    background-color: #ff5722; 
    color: red;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.complaint-form button:focus {
    border: 2px solid #ffcc00;
    box-shadow: 0 10px 30px rgba(255, 255, 0, 0.5);
}

.complaint-form-container h2 {
    text-align: center;
}
.query-form-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.query-form {
    align-items: center;
    color: white;
    width: 100%;
    max-width: 320px;
    padding: 15px;
    background: linear-gradient(145deg, #2196F3, #1976D2); 
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    animation: slideIn 1s ease-out;
    transition: transform 0.3s, box-shadow 0.3s;
}

.query-form label {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 13px;
}

.query-form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.query-form select:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 8px;
}

.query-form:hover {
    transform: translateY(-5px);
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.4);
}

.query-form button {
    display: block;
    margin: 0 auto;
    background: linear-gradient(145deg, #ffffff, #eeeeee);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #2196F3; 
    padding: 8px 15px;
    font-size: 15px;
    color: #1976D2;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.query-form button:hover {
    background-color: #2196F3; 
    color: red;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.query-form button:focus {
    border: 2px solid #ffcc00;
    box-shadow: 0 10px 30px rgba(255, 255, 0, 0.5);
}



select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white; 
    font-size: 14px;
    transition: background-color 0.3s, box-shadow 0.3s;
    appearance: none; 
}

select option {
    background-color: #333; 
    color: white; 
}

select:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 8px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}
